body {
  margin: 0em;
  background-color: #07090F;
  color: #8f9ac0;
  /* font-family: 'Fira Code', monospace; */
  font-family: 'Fira Code', monospace !important;
  scrollbar-width: none !important;
  /* scrollbar-height: none; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
   */
}

.logo{
  justify-content: center;
}

.logo-i {
  width: 50%;
}

:root{ scrollbar-width: none !important } 

a {
  color: inherit;
  text-decoration: none !important;
}

.active-field {
  color: #84eb92;
}

.container, .container-2, .container-1 {
  margin: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  height: 100%;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-1 {
  width:60%;
}

form {
  margin: 1em;
  padding: auto;
}

.side, .main, .side-2, .main-2, .main-1, .side-1 {
  height: 96vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* color: #647bff; */
  background-color: #191b2293;
  border-radius: 0.3em;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none i !important;
}

.side {
  width: 19%;
}

.side-2 {
  width: 38%;
}

.main-2 {
  width: 58%;;
}

.container-2 {
  width: 50%;
}

.main {
  width: 26%;
  position: sticky;
}

.card {
  margin: 0.6em;
  padding: 0.6em;
  border-radius: 0.5em;
  background-color: #07090F;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none !important;
  /* overflow: -moz-scrollbars-none !important; */
}

.prescription-card {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #07090F;
  align-items: center;
}

.small-profile {
  display: flex;
  font-size: 1em;
}

.result-card {
  margin: 0.4em;
  padding: 0.6em;
  border-radius: 0.5em;
  background-color: #07090F;
  align-items: center;
}

.image, .profile-description {
  margin: 0.3em;
}

.profile-description {
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none !important;
}

.name, .disease-percentage {
  font-size: 1.3em;
  color: #84ffff;
}

.disease-name {
  font-size: 1.4em;
}

.disease-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7em;
}

.role {
  text-transform: uppercase;
}

.disease-name {
  max-width: 75%;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none !important;
}

.email {
  /* color: #80cbc4; */
}

.column {
  flex-direction: column;
}

.disease-name, .disease-percentage {
  margin: 0.3em;
}

.percentage-bar {
  height: 0.25em;
  border-radius: 3em;
  width: 100%;
  background-color: #bdbfca;
}

.progress {
  height: 100%;
  background-color: #a52525;
}

img {
  width: 4em;
  border-radius: 20%;
}

.navigation {
  color: #badbd8;
}

.profile-description-small {
  margin: 1em;
  align-items: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;
}

textarea {
  resize: none;
  background-color:  #191b2293;
  line-height: 1.4em;
  color: #8f9ac0;
  border: none;
  border-radius: 0.5em;
  font-family: inherit;
  /* font-family: ; */
  text-decoration: none;
  font-size: 1.1em;
  width: 90%;
  height: 75%;
  align-content: center;
  margin: 0.4em;
  padding: 0.8em;
}

.prescription {
  margin: auto;
  height: 10.3em;
}

.large-textarea {
  height: 15em;
}

.time {
  align-content: center;
  font-size: 0.8em;
  margin-top:0.4em;
  padding-top: 0.4em;
  color: #80cbc4;
  /* margin: auto; */
  /* color: #badbd8; */
  /* margin-top: 0.2em; */
}

a:hover {
  color: #ffcb6b;
}

span {
  margin:0.4em;
  padding: 0.4em;
  /* margin: auto; */
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  color: #84eb92;
}

.navigation-form{
  display: flex;
  flex-direction: column;
}

.small-name {
  color: #80cbc4;
}

.capital {
  text-transform: capitalize;
}

/* .small-email {
  color: #80cbc4;
} */

.ui, .item, input, .message{
  background-color: #07090F !important;
  color: #8f9ac0 !important;
  text-decoration: none  !important;
  font-family: 'Fira Code', monospace;
}

.slide.ui.fluid.search.dropdown.selection.multiple {
  width: 97%;
  margin: auto;
}


.item {
  color: #a9d8a7 !important;
}

.label {
  text-decoration: none i !important;
  margin: 0.4em !important;
  padding: 0.4em !important;
  color: #ecd3d3 !important;
  background-color: #191b2293 !important;
  font-weight: 100 !important;
}

.menu {
  background-color: #07090f56 !important;
  color: white !important;
}

.item, .navigation-form, button, .temp, option, .label, .message, input {
  font-size: 1.2em  !important;
}

input {
  font-size: 1.4em  !important;
}

.sticky {
  position: sticky;
  top: 0;
}

.grey {
  background-color: #191b2293 !important;
}

.p-form-card{
  margin: 0.6em;
  padding: 0.6em;
  border-radius: 0.5em;
  background-color: #07090F;
  align-items: center;
  display: flex;
}

.main-1 {
  width: 68%;
}

.side-1 {
  width: 29%;
}

.form-pro-text {
  /* max-width: 10em; */
  padding-right: 2em;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 0.1em !important;
  height: 0.05em !important;
}

::-webkit-scrollbar-track {
  background: #0f111893 !important; 
}

::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}


.rb {
  display: none;
}

:checked + label {
border: 1px solid #84ffff;;
box-shadow: 0 0 5px #84ffff;;
/* background-color: #84eb92; */
color: #84ffff;;
}


label {
  font-size: 1.1em;
  padding: 0.5em;
  margin: 0.35em
}