<form action="role" method="POST">
    <input type="radio" id="doctor" name="role" value="doctor">
    <label for="doctor">Doctor</label><br>
    <input type="radio" id="patient" name="role" value="patient">
    <label for="patient">Patient</label>
    <input type="submit">
</form>