<form action="role" method="POST" class="role-select">
  <div>
    <span>
      Please choose your role:
    </span>
  </div>

  <input class="rb" type="radio" id="doctor" name="role" value="doctor" />
  <label for="doctor">
    Doctor
  </label>
  <div></div>
  <input class="rb" type="radio" id="patient" name="role" value="patient" />
  <label for="patient">
    Patient
  </label>
  <div></div>
  <input type="submit" />
</form>