<div class="main-2">
  <form action="role" method="POST" class="role-select">
  <div class="card active-field">
    <span>
      Please choose your role: 
    </span>
  </div>
  <div class="card lb">
    <input class="rb" type="radio" id="doctor" name="role" value="doctor" />
  <label for="doctor">
    Doctor
  </label>
  </div>
  
  <div class="card lb">
    
  <input class="rb" type="radio" id="patient" name="role" value="patient" />
  <label for="patient">
    Patient
  </label>
  </div>
  <div></div>
  <button  class="result-card" type="submit" class = "btn" value="Submit">Submit </button>
</form>
</div>

