<div id="mySidenav" class="sidenav">
    <a href="/dashboard" class="active">Dashboard</a></li>
    <a href="/user/patient">Patients</a>
    <a href="/user/doctor">Doctors</a>
    <a href="/form">Form</a>
    <a href="/auth/logout">Logout</a>
</div>

<div id="main">
    <span class="openbtn" style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776; Navigate</span>
</div>